{
    "server": 
    {
        "port": 8082
    },
    "minio": 
    {
        "endpoint_override": "localhost:9000"
    },
    "psql": 
    {
        "host": "localhost",
        "port": 5432,
        "dbname": "regatta_tracker_db",
        "min_sessions": 10,
        "max_sessions": 10
    },
    "redis": 
    {
        "host": "localhost",
        "port": 6379,
        "min_sessions": 10,
        "max_sessions": 10
    },
    "rabbitmq_connections": 
    [
        {
            "name": "main_cluster",
            "host": "localhost",
            "port": 5672,
            "vhost": "/",
            "channels":
            [
                {
                    "name": "analytics",
                    "queues": 
                    [
                        "analytics_tasks", 
                        "management_notifications"
                    ],
                    "qos": 1,
                    "no_ack": false 
                }
            ]
        }
    ]
}
